# NodeJS residues
**/node_modules
**/.pnp
.pnp.js

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# TypeScript residues
tsconfig.*.json
*.tsbuildinfo

# Development
**/extensions
**/packages
**/sources
**/tests
**/src
*.*ignore

# Lockfiles
**/*-shrinkwrap.json
**/*-lock.json
**/*-lock.yaml
**/*.lockb
**/*.lock

# Debugging
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
lerna-debug.log*
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
npm-debug.log*
**/coverage
*.log
logs

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE / Editor specific
.vscode/
.idea/
*.swp

# misc
**/__BACKUP__
.DS_Store
*.pem